<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23718005584-vhv4ng3g75b35bgq41h0dgrfa5ga03l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23718005584-vhv4ng3g75b35bgq41h0dgrfa5ga03l3</string>
	<key>API_KEY</key>
	<string>AIzaSyAkRTL7m4S2VpNwTyixvW45otT0p640rU4</string>
	<key>GCM_SENDER_ID</key>
	<string>23718005584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productNotifiersApp</string>
	<key>PROJECT_ID</key>
	<string>extrados-cli</string>
	<key>STORAGE_BUCKET</key>
	<string>extrados-cli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23718005584:ios:a7b7f14fe3ca581941ba55</string>
</dict>
</plist>